table#boardtable{
	border-collapse:collapse;
}
div#boardcontainer *{
	box-sizing:content-box!important
}
div#right-div{
	display:inline-block;
	position: absolute;
	top:10px;
	left:950px;
	width:250px;
}
div#boardscreen{
	top:0;
	position:absolute;
	display:inline-block;
	width:520px;
	height:440px;
	background-color:rgba(128,128,128,0.2);
}
td.cell{
	position:relative;
	width:70px;
	height:70px;
	border:1px #333 solid;
	border-width:1px 2px 1px 2px;
	border-top-color:#bbb;
	border-bottom-color:#bbb;
	padding:1px;
}
tr:last-child td.cell{
	border-bottom-width:2px;
	border-bottom-color:#333;
}
td.cell span{
	position:absolute;
	display:inline-block;
	width:70px;
	height:70px;
	border-radius:35px;
	transition:top .3s ease-in, opacity .3s ease-in;
	top:1px;
}
td.cell span.colour{
	-webkit-box-shadow:0px 0px 8px 3px rgba(102,102,255,1);
	-moz-box-shadow:0px 0px 8px 3px rgba(102,102,255,1);
	box-shadow:0px 0px 8px 3px rgba(102,102,255,1);
}
td.cell span.X{
	background-color:#ccc;
}
td.cell span.O{
	background-color:#111;
}

/*#boardtable td{
	cursor:pointer;
}*/
#boardtable colgroup.colhover{
	background-color:#eef;
}

#aistatus{
	margin-left:20px;
	font-size:small;
	font-family:Monospace;
}

#showplayervsai{
	display:none;
}

#aivsai{
	display:none;
}

#aivsaishown{
	display:none;
}

div.selectDiv{
	position:relative;
	border:1px #ddd solid;
	display:inline-block;
	padding:5px;
	width:250px;
	height: 300x;
}

div.upperDiv{
	display:inline-block;
	height:160px;
}

body{
	padding-left: 400px;
}

#aistarts{
	display:inline-block;
}