
table#boardtable {
	border-collapse: collapse;
}

div#boardscreen {
	top: 0;
	position: absolute;
	display: inline-block;
	width: 380px;
	height: 320px;
	background-color: rgba(128, 128, 128, 0.2);
}

td.cell {
	position: relative;
	width: 50px;
	height: 50px;
	border: 1px #333 solid;
	border-width: 1px 2px 1px 2px;
	border-top-color: #bbb;
	border-bottom-color: #bbb;
}

tr:last-child td.cell {
	border-bottom-width: 2px;
	border-bottom-color: #333;
}

td.cell span {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	transition: top .3s ease-in, opacity .3s ease-in;
	top: 1px;
}

td.cell span.colour {
	-webkit-box-shadow: 0px 0px 8px 3px rgba(102, 102, 255, 1);
	-moz-box-shadow: 0px 0px 8px 3px rgba(102, 102, 255, 1);
	box-shadow: 0px 0px 8px 3px rgba(102, 102, 255, 1);
}

td.cell span.X {
	background-color: #ccc;
}

td.cell span.O {
	background-color: #111;
}

/*#boardtable td{
	cursor:pointer;
}*/
#boardtable colgroup.colhover {
	background-color: #eef;
}

#aistatus {
	margin-left: 20px;
	font-size: small;
	font-family: Monospace;
}